.App {
  text-align: center;

}

.App-logo {

}
.crop {
  width: 118px;
  height: 29px;
  overflow: hidden;
}
.crop img {
  width: 96px;
  height: 408px;
  margin: -380px 0 12px 0;
}

.App-header {
  background-color: #37b1bf;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
nav { height: 80px;}
.button {
  font-size: 1.2em;
  color: #e75637;
  list-style-type: none;
  background-color:#ffffff;
  padding: 10px;
  margin: 2px;
  position: relative;
  display: block;
  float: left;
  border: #e65637 solid 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.button:hover{
  color: white;
  background-color: #e75637;
  cursor: pointer;
}
.btnActived{
  color: white;
  background-color: #e75637;
  cursor: pointer;
}
.big {
  font-size: 4em;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
